{{#link-to 'reminders.reminder.edit-reminder'}}
  <button class='edit-reminder-btn'>Edit</button>
{{/link-to}}
{{#link-to 'reminders'}}
  <button class='remove-reminder' {{action 'remove'}}>remove</button>
{{/link-to}}
