<p> remember to save your changes! </p>
<h3 class='edit-title'>{{input value=model.title}}</h3>
<p class='edit-date'>{{input value=model.date}}</p>
<p class='edit-notes'>{{input value=model.notes}}</p>

{{edit-reminder model=model}}
