<p> remember to save your changes! </p>
<h3>{{input value=model.title}}</h3>
<p>{{input value=model.date}}</p>
<p>{{input value=model.notes}}</p>

{{#link-to 'reminders'}}
  <button class='save-reminder-btn'>Save</button>
{{/link-to}}
